# Exploring Removed USPS Collection Boxes

## Import and Load Data

In [10]:
import pandas as pd

In [23]:
df_added = pd.read_csv("../data/added_2019_to_2020.csv")
df_removed = pd.read_csv("../data/removed_2019_to_2020.csv")

In [24]:
## Cleaning and analyzing the removed boxes

In [25]:
df_removed.shape

(3027, 49)

In [27]:
df_removed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3027 entries, 0 to 3026
Data columns (total 49 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   OUTLETID                     3027 non-null   int64
 1   BUSNAME                      3027 non-null   object
 2   ADDR1                        3027 non-null   object
 3   ADDR2                        0 non-null      float64
 4   CITY                         3027 non-null   object
 5   STATE                        3027 non-null   object
 6   ZIP                          3027 non-null   int64
 7   ZIP4                         0 non-null      float64
 8   PHONE                        0 non-null      float64
 9   FAX                          0 non-null      float64
 10  TOLLFREE                     0 non-null      float64
 11  CATEGORYID                   3027 non-null   int64
 12  HOURS1                       0 non-null      float64
 13  HOURS2                       0 non-null      float64
 14  HOURS3                       0 non-null      float64
 15  HOURS4                       0 non-null      float64
 16  HOURS5                       0 non-null      float64
 17  HOURS6                       0 non-null      float64
 18  HOURS7                       0 non-null      float64
 19  REGULARHOURSDESCRIPTION      0 non-null      float64
 20  COLLECTIONHOURS1             3027 non-null   object
 21  COLLECTIONHOURS2             3027 non-null   object
 22  COLLECTIONHOURS3             3027 non-null   object
 23  COLLECTIONHOURS4             3027 non-null   object
 24  COLLECTIONHOURS5             3027 non-null   object
 25  COLLECTIONHOURS6             2502 non-null   object
 26  COLLECTIONHOURS7             0 non-null      float64
 27  COLLECTIONHOURSDESCRIPTION   0 non-null      float64
 28  SPECIALHOURS1                0 non-null      float64
 29  SPECIALHOURS2                0 non-null      float64
 30  SPECIALHOURS3                0 non-null      float64
 31  SPECIALHOURS4                0 non-null      float64
 32  SPECIALHOURS5                0 non-null      float64
 33  SPECIALHOURS6                0 non-null      float64
 34  SPECIALHOURS7                0 non-null      float64
 35  SPECIALHOURSDESCRIPTION      0 non-null      float64
 36  MISCELLANEOUSSPECIALHOURS1   0 non-null      float64
 37  MISCELLANEOUSSPECIALHOURS2   0 non-null      float64
 38  MISCELLANEOUSSPECIALHOURS3   0 non-null      float64
 39  MISCELLANEOUSSPECIALHOURS4   0 non-null      float64
 40  MISCELLANEOUSSPECIALHOURS5   0 non-null      float64
 41  MISCELLANEOUSSPECIALHOURS6   0 non-null      float64
 42  MISCELLANEOUSSPECIALHOURS7   0 non-null      float64
 43  MISCSPECIALHOURSDESCRIPTION  0 non-null      float64
 44  DONTSHOWLOCALNUMBER          0 non-null      float64
 45  SPECIALMESSAGETEXT           1905 non-null   object
 46  SHOWNOTICE                   3027 non-null   object
 47  LATITUDE                     3022 non-null   float64
 48  LONGITUDE                    3022 non-null   float64
dtypes: float64(34), int64(3), object(12)
memory usage: 1.1+ MB

### Drop columns with no values

In [35]:
df_removed = df_removed.dropna(how='all', axis=1)

In [36]:
df_removed.shape

(3027, 17)

In [37]:
df_removed.columns

Index(['OUTLETID', 'BUSNAME', 'ADDR1', 'CITY', 'STATE', 'ZIP', 'CATEGORYID',
       'COLLECTIONHOURS1', 'COLLECTIONHOURS2', 'COLLECTIONHOURS3',
       'COLLECTIONHOURS4', 'COLLECTIONHOURS5', 'COLLECTIONHOURS6',
       'SPECIALMESSAGETEXT', 'SHOWNOTICE', 'LATITUDE', 'LONGITUDE'],
      dtype='object')

In [39]:
df_removed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3027 entries, 0 to 3026
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   OUTLETID            3027 non-null   int64
 1   BUSNAME             3027 non-null   object
 2   ADDR1               3027 non-null   object
 3   CITY                3027 non-null   object
 4   STATE               3027 non-null   object
 5   ZIP                 3027 non-null   int64
 6   CATEGORYID          3027 non-null   int64
 7   COLLECTIONHOURS1    3027 non-null   object
 8   COLLECTIONHOURS2    3027 non-null   object
 9   COLLECTIONHOURS3    3027 non-null   object
 10  COLLECTIONHOURS4    3027 non-null   object
 11  COLLECTIONHOURS5    3027 non-null   object
 12  COLLECTIONHOURS6    2502 non-null   object
 13  SPECIALMESSAGETEXT  1905 non-null   object
 14  SHOWNOTICE          3027 non-null   object
 15  LATITUDE            3022 non-null   float64
 16  LONGITUDE           3022 non-null   float64
dtypes: float64(2), int64(3), object(12)
memory usage: 425.7+ KB

In [41]:
df_removed["ADDR1"].nunique()

2721

### Get only the columns we want

In [50]:
df_removed = df_removed[["OUTLETID", "BUSNAME", "ADDR1", "CITY", "STATE", "ZIP", "CATEGORYID", "LATITUDE", "LONGITUDE"]]

### Drop duplicate addresses, is there any reason we shouldn't do this?

The outletID is unique but the address is the same. Are there possibly multiple boxes?

In [51]:
df_removed = df_removed.drop_duplicates(subset=['ADDR1'], keep='first')

In [52]:
df_removed.head()

,OUTLETID,BUSNAME,ADDR1,CITY,STATE,ZIP,CATEGORYID,LATITUDE,LONGITUDE
0,64700001,USPS COLLECTION BOX - BLUE BOX,6 CALLE SEGUNDA SUR,ENSENADA,PR,647,3064,17.965640,-66.940300
3,78400011,USPS COLLECTION BOX - BLUE BOX,6 CALLE DERKES E,GUAYAMA,PR,784,3064,17.984693,-66.113513
4,92100005,USPS COLLECTION BOX - BLUE BOX,1304 AVE AMERICO MIRANDA,SAN JUAN,PR,921,3064,18.398826,-66.085898
5,97900021,USPS COLLECTION BOX - BLUE BOX,71 CALLE LUNA,CAROLINA,PR,979,3064,18.428901,-66.003761
6,104000055,USPS COLLECTION BOX - BLUE BOX,110 CHERRY ST,HOLYOKE,MA,1040,3064,42.201031,-72.641210

### Check states with the most removals

In [54]:
df_removed["STATE"].value_counts()

DC    616
CA    344
MA    159
NY    134
TX    115
NJ    114
OH    112
IL    102
MD     81
WA     75
FL     64
VA     58
MN     52
KY     50
OR     42
PA     42
MI     36
MT     36
IN     34
WI     34
CT     33
GA     33
NC     26
SD     24
AZ     23
MO     23
AK     22
RI     22
NE     21
NV     20
IA     20
ND     18
WV     14
UT     14
CO     12
OK     11
KS     11
TN     10
ME      8
NM      8
LA      7
NH      7
ID      7
WY      4
AL      4
PR      4
AR      4
VT      3
HI      3
SC      2
MS      2
DE      1
Name: STATE, dtype: int64